<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
    <script src="../../public/js/index.js"></script>
  </head>

  <body>
    <div class="flex-container">
      <div id="about">
        <h2>Taimoor Ghafar</h2>
        <h4>4054</h4>
        <h5>BSCS/F18/A</h5>
      </div>
      <div id="img">
        <img src="../../public/me.jpg" alt="taimoor ghafar" />
      </div>
    </div>
  </body>
</html>